<header> <h3>Customer Data Management</h3>
    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("Dropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        </script>
    </header>
<hr>
<body>
    <div class="flexbox-cdm">
    <div class="flexbox-buttons">
        <div class="flexbox-item createuser">
          <a href="/CDM/Customer/Add">Create User</a>
          <p>Enter in new customer information</p>
        </div>
        <div class="flexbox-item edituser">
            <a href="/CDM/Customer/Update">Edit User Data</a>
            <p>Edit existing customer information</p>
        </div>
        <div class="flexbox-item new-cust">
            <p> Newest Customer</p>
            <% if (newestCustomer) { %>
                <p><%= newestCustomer.firstname %> <%= newestCustomer.lastname %> || <%= newestCustomer.email %></p>
            <% } else { %>
                <p>No customers found</p>
            <% } %>
        </div>
    </div>


        <div class="all-cust">
            <h1>All Customers</h1>
            <table class ="cust-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
            <tbody>
                <%customers.forEach(customer => {%>
                    <tr>
                        <td><%=customer.firstname%>  <%=customer.lastname%></td>
                        <td><%=customer.email%></td>
                        <td><div class ="dropdown"><button onclick="myFunction()" class="dropbtn">options...</button>
                        <div id="Dropdown" class ="dropdown-content">
                        <a href="/CDM/Customer/Update/edit/<%=customer.id%>">Update</a>
                        <a href="/CDM/Customer/Update/delete/<%=customer.id%>">Delete</a>
                        </div></div></td>
                    </tr>
                <% });%>
            </tbody>
       
            </table>
        </div>
    </div>
</body>

<div class="centerbutton">
<button><a href ="../"> Home</a></button>  
</div>